
<ion-content >
  <!--<div class="hm_wrapper">-->
  <div class="hm_menu_bay">
    <ul *ngFor="let g of handydata; let last = last;">
      <li [ngClass]="g.style" (click)="service(g.id)"><img [src]="g.src"><p text-wrap>{{g.name}}</p></li>
      <div *ngIf="last" class="hm_clear"></div>
    </ul>
  </div>
    <!--<div class="hm_menu_bay">
        <ion-grid style="color:#fff;">
            <ion-row>
                <ion-col width-25 *ngFor="let g of handydata; let last = last; let idx = index;" [ngClass]="g.style" tappable (click)="openHandyManCreateModal(idx)">
                    <img [src]="g.src"><p>{{g.name}}</p>
                    <div *ngIf="last" class="hm_clear"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>-->
  <div class="hm_ad_wrap">
  <ion-slides pager="false" #mySlider>
        <ion-slide (click)="recommended()">
			<img src="assets/img/cat/hm_shop_banner.png">
		</ion-slide>
		<ion-slide (click)="recommended()">
			<img src="assets/img/cat/hm_shop_banner.png">
		</ion-slide>
	</ion-slides>
  </div>
  <div class="hm_catagory_scroll_div">
    <h5 (click)="fitness()">For the Fitness</h5>
    <ion-scroll scrollX="true" style="height:130px;">
      <ul>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a1.png">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a2.png">
          </div>
          <p>Streching</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a3.png">
          </div>
          <p>Muscle Gain</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a4.png">
          </div>
          <p>Lean stress</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a1.png">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a2.png">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a3.png">
          </div>
          <p>Diet Plan</p>
        </li>
        <li>
          <div class="hm_catagory_item">
            <img src="assets/img/cat/hm_a4.png">
          </div>
          <p>Diet Plan</p>
        </li>
      </ul>
    </ion-scroll>
  </div>
<!--</div>-->
</ion-content>
<!--<ion-footer>
<tabcomponent></tabcomponent>
</ion-footer>-->
