
<loader *ngIf="loading && !data.length"></loader>
<!-- error -->
<div class="center" *ngIf="showErrorView" padding>
    <div class="error ">
        <ion-icon [name]="errorIcon"></ion-icon>
        <p>{{ 'Connection unavailable' | translate }}</p>
        <button ion-button color="primary" tappable (click)="doTry()">
            {{ 'Try again' | translate }}
        </button>
    </div>
</div>
<!-- empty-->
<div class="center" *ngIf="showEmptyView" padding>
    <div class="error">
        <ion-icon [name]="errorIcon"></ion-icon>
        <p>{{ 'Timelines not found' | translate }}</p>
    </div>
</div>

<!--<div  #scrollingBlockPhoto>

    <virtual-scroll [items]="data"  (update)="viewPortItems = $event">
        <div #container>
            <ion-list>
                <ion-grid fixed>
                    <ion-row align-items-stretch>

                        <ion-col col-12 col-md-4 align-self-stretch align-self-center *ngFor="let item of viewPortItems">
                            <photo-card [item]="item"></photo-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </div>
    </virtual-scroll>
    <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>-->

<div *ngIf="data.length">
    <ion-list>
        <ion-grid fixed>
            <ion-row align-items-stretch lazy-load-images>
                <ion-col col-12 col-md-4 align-self-stretch align-self-center *ngFor="let item of data">
                    <photo-card [item]="item"></photo-card>
                </ion-col>
               
            </ion-row>
        </ion-grid>
      
    </ion-list>
    <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</div>



