<ion-tabs tabsPlacement="bottom"
          preloadTabs="true"
          #myTabs>
    <ion-tab tappable [root]="tabHome" tabIcon="home"></ion-tab>
    <ion-tab tappable [root]="tabSearch" tabIcon="search"></ion-tab>
    <!--<ion-tab [root]="tabCapture" tabIcon="camera"></ion-tab>-->
    <!--<ion-tab [root]="tabChat" tabIcon="ios-chatbubbles" [tabBadge]="tabChatActivityBadge" tabBadgeStyle="danger"></ion-tab>-->
    <ion-tab tappable [root]="tabActivity" tabIcon="notifications" [tabBadge]="tabActivityBadge" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tappable [root]="tabHandy" tabIcon="construct" [tabBadge]="tabHandyBadge" tabBadgeStyle="danger"></ion-tab>
    <!--<ion-tab [root]="tabMessage" tabIcon="filing" [tabBadge]="tabMessageBadge" tabBadgeStyle="danger"></ion-tab>-->
    <ion-tab tappable [root]="tabProfile" tabIcon="person"></ion-tab>
</ion-tabs>
<content-drawer [options]="drawerOptions" [event]="_eventName">

    <ion-list >
        <ion-list-header>
            <ion-icon color="primary" name="construct-outline"></ion-icon> {{ 'Create HandyMan Task' | translate}}
        </ion-list-header>

        <div class="hm_menu_bay">
            <ion-grid style="color:#fff;">
                <ion-row>
                    <ion-col width-25 *ngFor="let g of handydata; let last = last; let idx = index;" [ngClass]="g.style" tappable (click)="openHandyManCreateModal(idx)">
                        <img [src]="g.src"><p>{{g.name}}</p>
                        <div *ngIf="last" class="hm_clear"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-list-header>
            <ion-icon color="primary" name="calendar-outline"></ion-icon> {{'Create Upcoming Event' | translate}}
        </ion-list-header>
        <ion-item >
            <ion-grid>
                <ion-row>
                    <ion-col width-50 tappable (click)="OpenCameraShare('photoshareupcoming')">
                        <img src="assets/img/camera.png" />
                        <h3>Take Picture</h3>
                    </ion-col>
                    <ion-col width-50 tappable (click)="OpenGalaryShare('photoshareupcoming')">
                        <img src="assets/img/stack-of-photos.png" />
                        <h3>Use Galary</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-list-header>
            <ion-icon color="primary" name="clock-outline"></ion-icon> {{'Add Photo or Post' | translate}}
        </ion-list-header>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col  tappable (click)="OpenCameraShare('photoshare')">
                        <img src="assets/img/camera.png" />
                        <h3>Take Picture</h3>
                    </ion-col>
                    <ion-col  tappable (click)="OpenGalaryShare('photoshare')">
                        <img src="assets/img/stack-of-photos.png" />
                        <h3>Use Galary</h3>
                    </ion-col>
                    <ion-col tappable (click)="sharePostOnly('photoshare')">
                        <img src="assets/img/post-img.png" />
                        <h3>Write Post</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
       
      
    </ion-list>
  





</content-drawer>

<input *ngIf="!cordova"
       #inputFile
       type="file"
       (change)="onChange($event)"
       accept="image/x-png, image/gif, image/jpeg"
       max-size="2048"
       style="display: none;">