
<ion-content class="hm_sign_bg">
    <div *ngIf="!isPaymentRegister">
        <ion-item text-wrap style="border-bottom:none!important;">
            <ion-buttons>
                <button ion-button full color="dark">
                    <h1 class="center"><span>Balance: $0.00</span> </h1>
                    <!--View Dashboard-->
                </button>
            </ion-buttons>
        </ion-item>
        <ion-item text-wrap style="border-bottom:none!important;" *ngIf="!isRegister">
            <div>
                <small>Get onboard, become a merchant and start getting paid. Saint Albert Global Concept, uses Stripe to get you paid quickly and keep your personal and payment information secure. Thousands of companies around the world trust Stripe to process payments for their users. Set up a Stripe account to get paid with WhatzUp App  </small>
                <ion-buttons>
                    <button ion-button full color="dark" (click)="projectlist()">
                        <ion-icon name="card"></ion-icon>
                        Get Started
                    </button>
                </ion-buttons>
            </div>
        </ion-item>
    </div>
    <!--<div class="hm_message_div">
        <ul>
            <li>
                <div class="hm_message_pic">
                    <div class="hm_message_not">3</div>
                </div>
                <div class="hm_message_detail">
                    <h4>Shrayesh Diets</h4>
                    <h4>Balance: <strong>£20.00</strong></h4>
                </div>
                <div class="hm_message_date">
                    <h6>April</h6>
                    <p>13</p>
                </div>
                <div class="hm_clear"></div>
            </li>
        </ul>
    </div>-->
    <!--<div class="hm_project">
      <div class="hm_project_tab">
        <ul>
            <li [class.active]="tab=='active'" (click)="tab_swap('active')"><span>.</span>Ongoing Projects</li>
            <li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')"><span>.</span>Project History</li>
        </ul>
      </div>
    <div class="tabcontent" [hidden]="tab=='inactive'">
        <div class="hm_project_tab_content">
            <h5>Spa at home<span><img src="assets/img/cat/hm_more1.png"></span></h5>
            <div class="hm_response">
                <div class="hm_response_left">Responses<strong>5</strong></div>
                <div class="hm_response_right">
                    <div class="hm_show_all" (click)="projectlist()">Show all<span><img src="assets/img/cat/hm_show_arw.png"></span></div>
                </div>
                <div class="hm_clear"></div>
            </div>
             <ion-scroll scrollX="true" style="height:90px;">
                <div class="hm_response_list">
                    <ul>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Lora Spa</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Hein Beauty Spot</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Orange Spa</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Perl Saloon</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Lora Spa</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Hein Beauty Spot</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Orange Spa</div>
                            <div class="hm_clear"></div>
                        </li>
                        <li>
                            <div class="hm_response_photo"></div>
                            <div class="hm_response_details">Perl Saloon</div>
                            <div class="hm_clear"></div>
                        </li>

                    </ul>
                </div>
             </ion-scroll>
             <div class="hm_response">
                <div class="hm_response_left">Messages<strong>5</strong></div>
                <div class="hm_response_right">
                    <div class="hm_show_all">Read all<span><img src="assets/img/cat/hm_show_arw.png"></span></div>
                </div>
                <div class="hm_clear"></div>
            </div>
            <hr>
            <br>
            <h5>Fitness at home<span><img src="assets/img/cat/hm_more1.png"></span></h5>
            <div class="hm_response">
                <div class="hm_response_left">Responses<strong>0</strong></div>
                <div class="hm_response_right">
                    <div class="hm_show_all hm_show_all_deactive">Show all<span><img src="assets/img/cat/hm_show_arw.png"></span></div>
                </div>
                <div class="hm_clear"></div>
            </div>
            <div class="hm_response">
                <div class="hm_response_left">Messages<strong>0</strong></div>
                <div class="hm_response_right">
                    <div class="hm_show_all hm_show_all_deactive">Read all<span><img src="assets/img/cat/hm_show_arw.png"></span></div>
                </div>
                <div class="hm_clear"></div>
            </div>
        </div>
    </div>
    <div class="tabcontent" [hidden]="tab=='active'" >
    safqgqeg
    </div>
    </div>-->
</ion-content>
