<ion-header>
    <ion-navbar color="none">
        <ion-title class="hm_service_div">
            <!--<p> {{service.name}}</p>-->
            <div> <img [src]="service.src" style="height:20px;width:20px;"> <span>{{service.name}}</span></div>
        </ion-title>
    </ion-navbar>
    <ion-toolbar color="none" *ngIf="serviceItem">
        <div style="float:left!important; display:block; color:#fff;font-size: 1.1em ;">
            <img [src]="serviceItem.src" style="height:20px;width:20px;">
            <span>{{serviceItem.name}}</span>
        </div>
    </ion-toolbar>
    <ion-toolbar color="none" *ngIf="!serviceItem">
        <div style="float:left!important; display:block; color:#fff;font-size: 1.1em ;">
            <img [src]="service.src" style="height:20px;width:20px;">
            <span>All {{service.name}} </span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="!isIOS">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <loader *ngIf="loading && !serviceItems.length"></loader>
    <!-- error -->
    <div class="center" *ngIf="showErrorView" padding>
        <div class="error ">
            <ion-icon [name]="errorIcon"></ion-icon>
            <p>{{ 'Connection unavailable' | translate }}</p>
            <button ion-button color="primary" tappable (click)="doTry()">
                {{ 'Try again' | translate }}
            </button>
        </div>
    </div>
    <!-- empty-->
    <div class="center " *ngIf="showEmptyView" padding>
        <div class="error" *ngIf="serviceItem">
            <!--<ion-icon [name]="errorIcon"></ion-icon>-->
            <div class="{{service.class}}">
                <div>
                    <img [src]="serviceItem.src" class="hm_service_div" />

                </div>
                <p>{{ serviceItem.name | translate }} not found  </p>
            </div>

        </div>
        <div class="error" *ngIf="!serviceItem">
            <!--<ion-icon [name]="errorIcon"></ion-icon>-->
            <img [src]="service.src" />
            <p>{{service.name | translate }} not found  </p>
        </div>
    </div>

    <div style="padding-bottom:10px;" align-items-stretch lazy-load-images *ngFor="let item of serviceItems" tappable (click)="onSelectHandyDetail(item)">
        <div class="hm_recommended_banner" >
            <div class="hm_recommended_banner_overlay">
                <div class="hm_recommended_banner_text ">
                    <h4>{{item.title}}</h4>
                    <p style="font-weight:bold; width:100%!important">
                        <img [src]="item.iconKey" style="height:20px;width:20px;" /> {{item.handyKey}}
                        <span style="float:right!important;">{{item.price | currency:getCode(item.code):true:'1.2-2'}}</span>
                    </p>
                    <p><ion-icon name="chatbubbles"></ion-icon> {{item.comments.length}} comments</p>
                </div>
            </div>
            <img [attr.data-src]="item.image" object-fit="cover" object-fit-watch-mq="true">

        </div>
       
    </div>

   

    <ion-infinite-scroll *ngIf="moreItem" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<ion-footer [hidden]="cartItems.length==0">
    <div class="hm_btn_bottom">
        <div class="hm_allservice_footer">
            <div class="hm_items">
                1
            </div>
            <span> <img src="assets/img/cat/hm_cart.png"></span>
            <div class="hm_amount">
                $ 599
            </div>
            <div class="hm_service_continue" (click)="summary()">
                Continue
            </div>
            <div class="hm_clear"></div>
        </div>
    </div>
</ion-footer>
