// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import "animate";

@font-face {
    font-family: billabong;
    src: url(../assets/fonts/Billabong.ttf);
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$text-color: #000;
$background-color: #fff;
$background-color2: #162d38; //#333; //#3c353c;
$none: #162d38;
/*$background-color: #3c353c;*/
// Material Color Pallet https://material.google.com/style/color.html#color-color-palette
// Theme App Color
//$primary: #00796B;
$primary: #333; //#7f8c8d; //#bdc3c7; //#f4f4f4; //#9900CC;//#ff6a00;
$transparent: rgba(#333, 0.5); //#00ffff;
$dark: #3c353c; //#00ffff;
$Baby: #D0A020;
$Birthday: #808080;
$Pub: #008000;
$Entertainment: #D05860;
$Sports: #20B0A0;
$Business: #0000E0;
$Fashion: #800000;
$Art: #60C8A0;
$World: #0000D0;
$Campus: #30C830;
$Charity: #101870;
$Comedy: #403880;
$Community: #305050;
$Culture: #90B890;
$Education: #506830;
$Festival: #008080;
$Food: #804010;
$Government: #C09090;
$Highlights: #000000;
$Holiday: #E0B880;
$Lifestyle: #A0B0E0;
$Film: #FF4000;
$Music: #D070D0;
$Wedding: #800080;
$Night: #F0A060;
$Politics: #708090;
$Spirituality: #FF00FF;
$Technology: #F0E0B0;
$Theatre: #FF6040;
$Travel: #E0A0E0;

$colors: ( primary: #EE7600, secondary: #7f8c8d, danger: #f53d3d, light: #fff, dark: #162d38, favorite: #69BB7B, facebook: #3B5998, none:$none, transparent:$transparent,Baby: #D0A020, Birthday: #808080, Pub: #008000, Entertainment: #D05860, Sports: #20B0A0, Business: #0000E0, Fashion: #800000, Art: #60C8A0, World: #0000D0, Campus: #30C830, Charity: #101870, Comedy: #403880, Community: #305050, Culture: #90B890, Education: #506830, Festival: #008080, Food: #804010, Government: #C09090, Highlights: #000000, Holiday: #E0B880, Lifestyle: #A0B0E0, Film: #FF4000, Music: #D070D0, Wedding:#800080, Night: #F0A060, Politics: #708090, Spirituality: #FF00FF, Technology: #F0E0B0, Theatre: #FF6040, Travel:#E0A0E0 );

$categories: (Baby: #D0A020, Birthday: #162d38, Pub: #008000, Entertainment: #D05860, Sports: #20B0A0, Business: #0000E0, Fashion: #800000, Art: #60C8A0, World: #0000D0, Campus: #30C830, Charity: #101870, Comedy: #403880, Community: #305050, Culture: #90B890, Education: #506830, Festival: #008080, Food: #804010, Government: #C09090, Highlights: #000000, Holiday: #E0B880, Lifestyle: #A0B0E0, Film: #FF4000, Music: #D070D0, Wedding:#800080, Night: #F0A060, Politics: #708090, Spirituality: #FF00FF, Technology: #F0E0B0, Theatre: #FF6040, Travel:#E0A0E0, );

.ios, .md {
  ion-header {
    ion-searchbar {
      font-family: Tahoma !important;
    }

    ion-navbar {
        /*font-family: Tahoma !important;*/
      font-family: billabong;

      ion-searchbar {
        font-family: Tahoma !important;
      }

      ion-title {
        div {
                    font-size: 1.1em !important;
                }
       
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      //border-bottom: 1px solid #EE7600;
      border-bottom: 0px !important;
    }

    ion-toolbar {
      /*background-color: $background-color2;*/
      width: 100% !important;
    }

    border-bottom: 0px !important;
  }

  ion-content {
    background: url("../assets/img/cat/hm_theme_bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: cover !important;
  }

  ion-modal {
    ion-header {
      font-family: billabong;

      ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      border-bottom: 0px !important;

      ion-navbar {
        border-bottom: 0px !important;
      }
    }
  }

  textarea {
    /* box-sizing: padding-box; */
    overflow: hidden;
    /* demo only: */
    padding: 5px;
    width: 100%;
    font-size: .9em !important;
    margin: 0px auto;
    display: block;
    border-radius: 10px;
    border: 0px solid #556677;
    bottom: 0 !important;
    max-height: 200px !important;
  }

  ion-input {
    border-radius: 10px !important;
    /*font-size: .9em !important;*/
  }

  p {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 1em;
  }

  ion-icon {
    font-size: 1.5em;
  }

  ion-segment {
    padding: 0px 12px;
    /*opacity: 0.7;*/
    position: relative;
    /*top: -50px;*/
    background-color: $background-color2;
    /*color: map-get($colors, dark) !important;*/
  }

  ion-segment-button {
    /*border-color: map-get($colors, primary) !important;*/
    color: map-get($colors, light) !important;
    font-family: billabong;
    font-size: 1.4em !important;
    /*padding-bottom: 5px;*/
  }

  .imgBox {
    min-height: 120px;
    max-height: 400px;
    /*overflow: hidden;*/
    position: relative;
    //z-index: 10;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    //margin-top: 56px;
    flex-grow: 1;
    justify-content: center;

    img {
      position: sticky;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      z-index: 5;
    }

    span {
      position: absolute;
      text-overflow: ellipsis;
      z-index: 3;
      top: 30%;
      left: 40%;

      ion-spinner * {
        width: 60px;
        height: 60px;
        stroke: #444;
        fill: #222;
      }
    }
  }



  ion-card {
    width: 100%;

    .title {
      font-family: Tahoma;
      font-size: 1.4em !important;
      color: gray;
    }

    .card-tag-category-right {
      position: absolute;
      right: 0;
      /*bottom: 0px;*/
      border-radius: 2px 0 0 2px;
      padding: 1px 10px;
      font-size: 12px;
      top: 40%;
      text-transform: uppercase;
      font-weight: 600;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      z-index: 9;
      border: 3px solid;

      ion-icon {
        color: #fff !important;
        font-size: large !important;
      }
    }

    .card-tag-price-left {
      position: absolute;
      left: 0;
      /*bottom: 0px;*/
      border-radius: 2px 0 0 2px;
      padding: 1px 15px;
      font-size: 15px;
      top: 0px;
      text-transform: uppercase;
      font-weight: 600;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      /*overflow: hidden;*/
      z-index: 9;
      /*background-color: map-get($colors, primary) !important;*/
      color: map-get($colors, light) !important;
      /*border: 0.5px solid;*/
      border-top: 0;

      ion-icon {
        color: #fff !important;
        font-size: large !important;
      }
    }

    .card-tag-price-right {
      position: absolute;
      right: 0;
      /*bottom: 0px;*/
      border-radius: 5px 0 0 5px;
      padding: 1px 2px;
      font-size: 12px;
      top: 0px;
      text-transform: uppercase;
      font-weight: 600;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      z-index: 9;
      /*background-color: map-get($colors, primary) !important;*/
      color: map-get($colors, light) !important;

      ion-icon {
        color: #fff !important;
        font-size: large !important;
      }
    }

    .no-scroll .scroll-content {
      overflow: hidden !important;
      overflow-y: hidden !important;
    }

    super-tab {
      width: 100% !important;
    }

    .card-tag-country-right {
      /*position: relative;*/
      right: 0;
      float: right;
      bottom: 0px;
      border-radius: 2px 0 0 2px;
      padding: 1px 2px;
      font-size: 12px;
      /*top:0.5px;*/
      text-transform: uppercase;
      font-weight: 600;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      z-index: 9;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      /*background-color: #EE7600;*/
      color: map-get($colors, light) !important;
      /*border: 0.5px solid;*/
      border-bottom: 0;
    }

    .card-tag-country-left {
      /*position: relative;*/
      left: 0;
      bottom: 0px;
      border-radius: 2px 0 0 2px;
      padding: 1px 2px;
      font-size: 12px;
      /*top:0.5px;*/
      text-transform: uppercase;
      font-weight: 600;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      z-index: 9;
      color: map-get($colors, light) !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      /*background-color: map-get($colors, primary) !important;*/
      /*border: 0.5px solid;*/
      border-bottom: 0;
    }

    .title {
      /*text-align: center;*/
      text-transform: uppercase;
      /*font-family: Tahoma;*/
      font-size: 1.5em;
      font-variant: small-caps;
      padding-left: 5px;
    }
  }

  ion-footer {
    ion-icon {
      color: #EE7600; //$background-color2 !important;
    }
  }

  ion-card:last-of-type {
    margin-bottom: 0 !important;
    color: $background-color2 !important;
  }

  ion-toolbar {
    /*background-color: $background-color2;*/
    width: 100% !important;
  }

  content-drawer {
    background-color: #fff !important;
    color: #fff;
  }

  content-drawer .content {
    padding: 20px;
  }

  virtual-scroll {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
  /*$grid-padding-width: 1px !default;*/
  /* Stories */
  .story {
    white-space: nowrap;
    height: 105px;
  }

  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
  }

  .post-category-country {
    border-right: 2px solid #d7d7d7;
    background-color: #F1F1F1;
    color: #717171;
  }

  .post-category {
    border-right: 2px solid #d7d7d7;
    background-color: #F1F1F1;
    color: #717171;

    span {
      ion-icon {
        color: #fff !important;
        font-size: medium !important;
      }
    }
  }

  .post-category.Baby {
    border-color: map-get($categories, Baby);
    background-color: map-get($categories, Baby);
    color: #FFF;
  }

  .post-category.Birthday {
    border-color: map-get($categories, Birthday);
    background-color: map-get($categories, Birthday);
    color: #FFF;
  }

  .post-category.Pub {
    border-color: map-get($categories, Pub);
    background-color: map-get($categories, Pub);
    color: #FFF;
  }

  .post-category.Entertainment {
    border-color: map-get($categories, Entertainment);
    background-color: map-get($categories, Entertainment);
    color: #FFF;
  }

  .post-category.Sports {
    border-color: map-get($categories, Sports);
    background-color: map-get($categories, Sports);
    color: #FFF;
  }

  .post-category.Business {
    border-color: map-get($categories, Business);
    background-color: map-get($categories, Business);
    color: #FFF;
  }

  .post-category.Fashion {
    border-color: map-get($categories, Fashion);
    background-color: map-get($categories, Fashion);
    color: #FFF;
  }

  .post-category.Art {
    border-color: map-get($categories, Art);
    background-color: map-get($categories, Art);
    color: #FFF;
  }

  .post-category.World {
    border-color: map-get($categories, World);
    background-color: map-get($categories, World);
    color: #FFF;
  }

  .post-category.Campus {
    border-color: map-get($categories, Campus);
    background-color: map-get($categories, Campus);
    color: #FFF;
  }
  /*ffffffff*/
  .post-category.Charity {
    border-color: map-get($categories, Charity);
    background-color: map-get($categories, Charity);
    color: #FFF;
  }

  .post-category.Comedy {
    border-color: map-get($categories, Comedy);
    background-color: map-get($categories, Comedy);
    color: #FFF;
  }

  .post-category.Community {
    border-color: map-get($categories, Comedy);
    background-color: map-get($categories, Comedy);
    color: #FFF;
  }

  .post-category.Culture {
    border-color: map-get($categories, Community);
    background-color: map-get($categories, Community);
    color: #FFF;
  }

  .post-category.Education {
    border-color: map-get($categories, Education);
    background-color: map-get($categories, Education);
    color: #FFF;
  }

  .post-category.Fashion {
    border-color: map-get($categories, Fashion);
    background-color: map-get($categories, Fashion);
    color: #FFF;
  }

  .post-category.Festival {
    border-color: map-get($categories, Festival);
    background-color: map-get($categories, Festival);
    color: #FFF;
  }

  .post-category.Food {
    border-color: map-get($categories, Food);
    background-color: map-get($categories, Food);
    color: #FFF;
  }

  .post-category.Government {
    border-color: map-get($categories, Government);
    background-color: map-get($categories, Government);
    color: #FFF;
  }

  .post-category.Highlights {
    border-color: map-get($categories, Highlights);
    background-color: map-get($categories, Highlights);
    color: #FFF;
  }

  .post-category.Holiday {
    border-color: map-get($categories, Holiday);
    background-color: map-get($categories, Holiday);
    color: #FFF;
  }

  .post-category.Lifestyle {
    border-color: map-get($categories, Lifestyle);
    background-color: map-get($categories, Lifestyle);
    color: #FFF;
  }

  .post-category.Film {
    border-color: map-get($categories, Film);
    background-color: map-get($categories, Film);
    color: #FFF;
  }

  .post-category.Music {
    border-color: map-get($categories, Music);
    background-color: map-get($categories, Music);
    color: #FFF;
  }

  .post-category.Wedding {
    border-color: map-get($categories, Wedding);
    background-color: map-get($categories, Wedding);
    color: #FFF;
  }

  .post-category.Night {
    border-color: map-get($categories, Night);
    background-color: map-get($categories, Night);
    color: #FFF;
  }

  .post-category.Politics {
    border-color: map-get($categories, Politics);
    background-color: map-get($categories, Politics);
    color: #FFF;
  }

  .post-category.Spirituality {
    border-color: map-get($categories, Spirituality);
    background-color: map-get($categories, Spirituality);
    color: #FFF;
  }

  .post-category.Technology {
    border-color: map-get($categories, Technology);
    background-color: map-get($categories, Technology);
    color: #FFF;
  }

  .post-category.Theatre {
    border-color: map-get($categories, Theatre);
    background-color: map-get($categories, Theatre);
    color: #FFF;
  }

  .post-category.Travel {
    border-color: map-get($categories, Travel);
    background-color: map-get($categories, Travel);
    color: #FFF;
  }

  .Baby {
    ion-icon {
      color: map-get($categories, Baby);
    }
  }

  .backgrounds.Baby {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Baby)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Baby) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Baby)', GradientType=0);
    color: #fff;
  }

  .Birthday {
    ion-icon {
      color: map-get($categories, Birthday);
    }
  }

  .backgrounds.Birthday {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Birthday)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Birthday) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Birthday)', GradientType=0);
    color: #fff;
  }

  .Pub {
    ion-icon {
      color: map-get($categories, Pub);
    }
  }

  .backgrounds.Pub {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Pub)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Pub) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Pub)', GradientType=0);
    color: #fff;
  }

  .Entertainment {

    ion-icon {
      color: map-get($categories, Entertainment);
    }
  }

  .backgrounds.Entertainment {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Entertainment)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Entertainment) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Entertainment)', GradientType=0);
    color: #fff;
  }

  .Sports {

    ion-icon {
      color: map-get($categories, Sports);
    }
  }

  .backgrounds.Sports {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Sports)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Sports) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Sports)', GradientType=0);
    color: #fff;
  }

  .Business {
    ion-icon {
      color: map-get($categories, Business);
    }
  }

  .backgrounds.Business {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Business)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Business) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Business)', GradientType=0);
    color: #fff;
  }

  .Fashion {
    ion-icon {
      color: map-get($categories, Fashion);
    }
  }

  .backgrounds.Fashion {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Fashion)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Fashion) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Fashion)', GradientType=0);
    color: #fff;
  }

  .Art {
    ion-icon {
      color: map-get($categories, Art);
    }
  }

  .backgrounds.Art {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Art)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Art) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Art)', GradientType=0);
    color: #fff;
  }

  .World {
    ion-icon {
      color: map-get($categories, World);
    }
  }

  .backgrounds.World {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, World)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, World) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, World)', GradientType=0);
    color: #fff;
  }

  .Campus {
    ion-icon {
      color: map-get($categories, Campus);
    }
  }

  .backgrounds.Campus {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Campus)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Campus) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Campus)', GradientType=0);
    color: #fff;
  }
  /*ffffffff*/
  .Charity {

    ion-icon {
      color: map-get($categories, Charity);
    }
  }

  .backgrounds.Charity {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Charity)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Charity) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Charity)', GradientType=0);
    color: #fff;
  }

  .Comedy {

    ion-icon {
      color: map-get($categories, Comedy);
    }
  }

  .backgrounds.Comedy {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Comedy)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Comedy) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Comedy)', GradientType=0);
    color: #fff;
  }

  .Community {
    ion-icon {
      color: map-get($categories, Community);
    }
  }

  .backgrounds.Community {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Community)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Community) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Community)', GradientType=0);
    color: #fff;
  }

  .Culture {

    ion-icon {
      color: map-get($categories, Culture);
    }
  }

  .backgrounds.Culture {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Culture)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Culture) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Culture)', GradientType=0);
    color: #fff;
  }

  .Education {

    ion-icon {
      color: map-get($categories, Education);
    }
  }

  .backgrounds.Education {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Education)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Education) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Education)', GradientType=0);
    color: #fff;
  }

  .Fashion {
    ion-icon {
      color: map-get($categories, Fashion);
    }
  }

  .backgrounds.Fashion {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Fashion)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Fashion) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Fashion)', GradientType=0);
    color: #fff;
  }

  .Festival {
    ion-icon {
      color: map-get($categories, Festival);
    }
  }

  .backgrounds.Festival {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Festival)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Festival) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Festival)', GradientType=0);
    color: #fff;
  }

  .Food {
    ion-icon {
      color: map-get($categories, Food);
    }
  }

  .backgrounds.Food {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Food)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Food) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Food)', GradientType=0);
    color: #fff;
  }

  .Government {
    ion-icon {
      color: map-get($categories, Government);
    }
  }

  .backgrounds.Government {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Government)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Government) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Government)', GradientType=0);
    color: #fff;
  }

  .Highlights {
    ion-icon {
      color: map-get($categories, Highlights);
    }
  }

  .backgrounds.Highlights {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Highlights)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Highlights) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Highlights)', GradientType=0);
    color: #fff;
  }

  .Holiday {
    ion-icon {
      color: map-get($categories, Holiday);
    }
  }

  .backgrounds.Holiday {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Holiday)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Holiday) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Holiday)', GradientType=0);
    color: #fff;
  }

  .Lifestyle {
    ion-icon {
      color: map-get($categories, Lifestyle);
    }
  }

  .backgrounds.Lifestyle {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Lifestyle)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Lifestyle) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Lifestyle)', GradientType=0);
    color: #fff;
  }

  .Film {
    ion-icon {
      color: map-get($categories, Film);
    }
  }

  .backgrounds.Film {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Film)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Film) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Film)', GradientType=0);
    color: #fff;
  }

  .Music {
    ion-icon {
      color: map-get($categories, Music);
    }
  }

  .backgrounds.Music {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Music)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Music) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Music)', GradientType=0);
    color: #fff;
  }

  .Wedding {
    ion-icon {
      color: map-get($categories, Wedding);
    }
  }

  .backgrounds.Wedding {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Wedding)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Wedding) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Wedding)', GradientType=0);
    color: #fff;
  }

  .Night {
    ion-icon {
      color: map-get($categories,Night);
    }
  }

  .backgrounds.Night {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Night)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Night) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Night)', GradientType=0);
    color: #fff;
  }

  .Politics {
    ion-icon {
      color: map-get($categories,Politics);
    }
  }

  .backgrounds.Politics {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Politics)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Politics) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Politics)', GradientType=0);
    color: #fff;
  }

  .Spirituality {
    ion-icon {
      color: map-get($categories, Spirituality);
    }
  }

  .backgrounds.Spirituality {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Spirituality)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Spirituality) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Spirituality)', GradientType=0);
    color: #fff;
  }

  .Technology {
    ion-icon {
      color: map-get($categories, Technology);
    }
  }

  .backgrounds.Technology {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Technology)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Technology) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Technology)', GradientType=0);
    color: #fff;
  }

  .Theatre {
    ion-icon {
      color: map-get($categories, Theatre);
    }
  }

  .backgrounds.Theatre {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Theatre)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Theatre) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Theatre)', GradientType=0);
    color: #fff;
  }

  .Travel {
    ion-icon {
      color: map-get($categories, Travel);
    }
  }

  .backgrounds.Travel {
    background: #E1DFE0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DFE0), color-stop(99%, map-get($categories, Travel)));
    background: linear-gradient(to bottom, #E1DFE0 0%, map-get($categories, Travel) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1DFE0 ', endColorstr='map-get($categories, Travel)', GradientType=0);
    color: #fff;
  }

  .DefaultColor {
    ion-icon {
      color: map-get($categories, Birthday);
    }
  }

  .post-category.DefaultColor {
    border-color: map-get($categories, Birthday);
    background-color: map-get($categories, Birthday);
    color: #FFF;
  }

  .backgrounds.DefaultColor {
    background: $dark;
    background: -webkit-gradient(linear, left top, left bottom, from($dark), color-stop(99%, $dark));
    background: linear-gradient(to bottom, $dark 0%, $dark 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$dark, endColorstr=$dark, GradientType=0);
    color: #fff;
  }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
