<!--<ion-header *ngIf="!cordova" no-shadow>
    <ion-navbar color="none">
        <ion-buttons start tappable (click)="dismiss()">
            <button ion-button>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Capture</ion-title>
    </ion-navbar>

</ion-header>-->
<ion-content fullscreen>
    <div>
        <div #cameradisplay *ngIf="cordova" [ngClass]="cameradisplayClass">
            <ion-fab start top small class="myfab hideBorder" tappable (click)="dismiss()">
                <button ion-fab mini color="transparent"><ion-icon name="close"></ion-icon></button>
            </ion-fab>
            <!--<canvas id="fullsize" #fullsize (click)="togleHideColor()"></canvas>-->
            <img id="fullsize" #fullsize tappable (click)="togleHideColor()">

            <ion-fab *ngIf="!hideCropIcon" class="hideBorder" right top small tappable (click)="cropPhoto()">
                <button ion-fab mini color="transparent"><ion-icon ios="ios-crop" md="md-crop"></ion-icon></button>
            </ion-fab>
            <ion-fab class="hideBorder" *ngIf="hideCropIcon" right top small tappable (click)="returnBackFilter()">
                <button ion-fab mini color="transparent"><ion-icon name="undo"></ion-icon></button>
            </ion-fab>


            <ion-fab left bottom tappable (click)="togleColor()">
                <button ion-fab mini color="transparent"><ion-icon name="color-wand"></ion-icon></button>
            </ion-fab>
            <ion-fab class="hideBorder" bottom center small tappable (click)="openGalary()">
                <button ion-fab mini color="transparent"><ion-icon ios="ios-images" md="md-images"></ion-icon></button>
            </ion-fab>

            <ion-fab right bottom tappable (click)="publishImage()" class="sendBtn">
                <button ion-fab mini color="primary"><ion-icon name="done-all"></ion-icon></button>
            </ion-fab>


        </div>
        <div #publisher [ngClass]="publisherClass" >
            <!--<img id="imageId" class="captureImage" #snapView>-->
            <ion-fab start top small class="myfab hideBorder" tappable (click)="dismiss()">
                <button ion-fab mini color="transparent"><ion-icon name="close"></ion-icon></button>
            </ion-fab>
            <!--<canvas id="snapView" #snapView tappable (click)="togleHideColor()"></canvas>-->
            <img id="snapView" #snapView tappable (click)="togleHideColor()">

            <ion-fab class="hideBorder" *ngIf="!hideCropIcon" right top small tappable (click)="cropPhoto()">
                <button ion-fab mini color="transparent"><ion-icon ios="ios-crop" md="md-crop"></ion-icon></button>
            </ion-fab>
            <ion-fab class="hideBorder" *ngIf="hideCropIcon" right top small tappable (click)="returnBackFilter()">
                <button ion-fab mini color="transparent"><ion-icon name="undo"></ion-icon></button>
            </ion-fab>

            <ion-fab left bottom tappable (click)="togleColor()">
                <button ion-fab mini color="transparent"><ion-icon name="color-wand"></ion-icon></button>
            </ion-fab>
            <ion-fab class="hideBorder" bottom center small tappable (click)="openGalary()">
                <button ion-fab mini color="transparent"><ion-icon ios="ios-images" md="md-images"></ion-icon></button>
            </ion-fab>
            <ion-fab right bottom tappable (click)="publishImage()" class="sendBtn">
                <button ion-fab mini color="primary"><ion-icon name="done-all"></ion-icon></button>
            </ion-fab>
        </div>




        <!-- empty-->
        <!--<div class="center" *ngIf="!cordova"  padding>

            <ion-fab start top small class="myfab hideBorder" tappable (click)="dismiss()">
                <button ion-fab mini color="transparent"><ion-icon name="close"></ion-icon></button>
            </ion-fab>
            <div class="error" tappable (click)="openGalary()">
                <ion-icon name="camera"></ion-icon>
                <p>{{ 'Upload Photos ' | translate }}</p>
            </div>

        </div>-->

        <!--<div class="sliderDiv" [ngClass]="showHideFilterControl">
            <ion-slides  spaceBetween="2" does-continue="true" >
                <ion-slide class="filterOption" tappable (click)="returnBackFilter()">
                        <img [src]="Originalimage" />
                </ion-slide>
               
                <ion-slide class="filterOption" *ngFor="let pg of filtersImagesArray ; let idx=index " tappable (click)="changeColor(idx)">
                        <img [src]="pg" />
                </ion-slide>
            </ion-slides>
        </div>-->

        <div class="sliderDiv" [ngClass]="showHideFilterControl">

            <ion-slides spaceBetween="2" >
                <ion-slide style="background-color:transparent;border: 1px solid white;" class="filterOption" tappable (click)="returnBackFilter()">
                    <span>
                        <ion-icon name="close"></ion-icon>
                        None
                    </span>
                </ion-slide>
                <ion-slide [ngStyle]="{ 'background-color': pg.c }" class="filterOption" *ngFor="let pg of filters; let idx=index " tappable (click)="changeColor(idx)">
                    <span>
                        {{pg.n}}
                    </span>
                </ion-slide>
            </ion-slides>
        </div>


        <input *ngIf="!cordova"
               #inputFile
               type="file"
               (change)="onChange($event)"
               accept="image/x-png, image/gif, image/jpeg"
               max-size="2048"
               style="display: none;">
    </div>


</ion-content>

<!--<content-drawer [options]="drawerCropOptions" [event]="_eventName">
    <div class="content">


    </div>
</content-drawer>-->

<content-drawer [options]="drawerOptions" [event]="_eventName">

    <div class="content">
        <div [ngClass]="CropControClass">
            <img [src]="img" id="image" #cropImageView />
            <!--<ion-fab start top small class="myfab hideBorder" tappable (click)="cancelCrop()">
                <button ion-fab mini color="transparent"><ion-icon name="close"></ion-icon></button>
            </ion-fab>-->
            <!--Rotate-->
            <ion-fab left bottom>
                <button color="dark" ion-fab mini tappable (click)="rotate(-90)">
                    <ion-icon class="invert" name="refresh"></ion-icon>
                </button>
            </ion-fab>
            <!-- Crop-->
            <ion-fab center bottom>
                <button color="blue" ion-fab tappable (click)="crop()">
                    <ion-icon name="crop"></ion-icon>
                </button>
            </ion-fab>
            <!-- Rotate-->
            <ion-fab right bottom>
                <button color="dark" ion-fab mini tappable (click)="rotate(90)">
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-fab>

        </div>

        <!--<ion-grid [ngClass]="photoControClass" class="no-padding">
            <ion-row>
                <ion-col class="no-padding">
                    <ion-row>
                        <ion-col class="no-padding">
                            <ion-row>
                                <ion-col tappable (click)="useGalaryPhoto(libraryItem.id)" *ngFor="let libraryItem of galaryObject" class="padding-left-right" col-4>
                                    <img [src]="nomalizeFileUrl(libraryItem.thumbnailURL) | cdvphotolibrary : 'url'" [ngClass]="isInArray(libraryItem.id) ? 'selected' : 'not-selected'">
                                    <ion-checkbox checked="isInArray(libraryItem.id)"></ion-checkbox>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>-->

        <!--<ion-grid [ngClass]="photoControClass">
            <div *ngFor="let image of galaryObject; let i = index;">
                <ion-row *ngIf="i % 3 === 0">
                    <ion-col col-4 tappable (click)="useGalaryPhoto(galaryObject[i].id )" *ngIf="i < galaryObject.length">
                        <ion-thumbnail [ngClass]="isInArray(galaryObject[i].id) ? 'selected' : 'not-selected'">
                            <img [src]="galaryObject[i].thumbnailURL | cdvphotolibrary: 'url'" />
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col col-4 tappable (click)="useGalaryPhoto(galaryObject[i+1].id )" *ngIf="i+1 < galaryObject.length">
                        <ion-thumbnail [ngClass]="isInArray(galaryObject[i+1].id) ? 'selected' : 'not-selected'">
                            <img [src]="galaryObject[i+1].thumbnailURL | cdvphotolibrary: 'url'" />
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col col-4 tappable (click)="useGalaryPhoto(galaryObject[i+2].id )" *ngIf="i+2 < galaryObject.length">
                        <ion-thumbnail [ngClass]="isInArray(galaryObject[i+2].id) ? 'selected' : 'not-selected'">
                            <img [src]="galaryObject[i+2].thumbnailURL | cdvphotolibrary: 'url'" />
                        </ion-thumbnail>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>-->



    </div>
</content-drawer>
