<ion-header>
    <ion-navbar color="none">
        <ion-buttons start>
            <button ion-button clear tappable (click)="dismiss(true)">
                {{'Cancel' | translate}}
            </button>
        </ion-buttons>
        <ion-title>{{'Upcoming' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button clear tappable (click)="submit(shareImageForm)">
                {{'Post' | translate}}
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <img [src]="form.image">
    <form  #shareImageForm="ngForm" (ngSubmit)="submit(shareImageForm)" novalidate>
       
            <ion-item>

                <ion-label floating>{{'Title of event' | translate}}</ion-label>
                <ion-icon name="calendar"></ion-icon>
                <ion-input id="title"  [(ngModel)]="form.title" name="title"  [required]="true"></ion-input>
                <!--<div *ngIf="title.errors.required">
                    Title is required.
                </div>-->
            </ion-item>
            <ion-item>
                <!--<ion-thumbnail item-left>
                    <img [src]="form.image">
                </ion-thumbnail>-->
               
                <!--<ion-textarea [(ngModel)]="form.description"
                              name="description"
                              placeholder="{{'Write event description... (required!' | translate}}" [required]="true"></ion-textarea>-->
               
                <textarea #textmsgId [(ngModel)]="form.description"
                              name="description"
                              placeholder="{{'Write event description... (required!)' | translate}}" [required]="true"></textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'Contact number (optional)' | translate}}</ion-label>
                <ion-input  type="tel" [(ngModel)]="form.contact"
                           name="contact" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'Category of event' | translate}}</ion-label>
                <ion-select   [(ngModel)]="form.categoryId" name="categoryId" text-wrap (ngModelChange)="onCategoryChange()" [required]="true">
                    <ion-option *ngFor="let category of postCategory" [value]="category.id">{{category.slug | translate}}</ion-option>

                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'Event Privacy' | translate}}</ion-label>
                <ion-select   [(ngModel)]="form.privacity" name="privacity" (ngModelChange)="onPrivacyChange()" [required]="true">
                    <ion-option value="public">{{'Public ' | translate}} <!--<ion-note item-end>{{form.publicfee | currency:'USD':true:'1.2-2'}}</ion-note>--></ion-option>
                    <ion-option value="followers">{{'Followers' | translate}}</ion-option>
                    <ion-option value="me">{{'Me' | translate }}</ion-option>
                </ion-select>
            </ion-item>
       
            <!--<ion-label *ngIf="!addressSelected" style="color:red;padding-left:12px;">{{'Select event address' | translate }}</ion-label>-->
            <address-input [address]="form.formatted_address" text-wrap></address-input>
        

            <ion-item-divider ion-item light no-lines>
                <b>{{'Date & Time' | translate}}</b>
                <ion-icon item-right name="timer-outline"></ion-icon>
            </ion-item-divider>
            <ion-item>
                <ion-label floating>{{'Start Date & time of event' | translate}}</ion-label>
                <ion-datetime min="{{year}}" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="startDate" (ngModelChange)="dateStartChanged($event)" name="startDate" [required]="true"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'End Date & time of event' | translate}}</ion-label>
                <ion-datetime min="{{year}}" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="endDate" (ngModelChange)="dateEndChanged($event)" name="endDate" [required]="true"></ion-datetime>
            </ion-item>

            <ion-item-divider ion-item light no-lines>
                <b>{{'Prices' | translate}}</b>
                <ion-icon item-right name="cash-outline"></ion-icon>
            </ion-item-divider>


            <ion-grid>
                <ion-row text-center radio-group >
                    <ion-col>
                        <ion-item>
                            <ion-label>{{'Free event' | translate}}</ion-label>
                            <ion-radio value="true"  checked tappable (click)="priceSet(true)"></ion-radio>
                        </ion-item>

                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <!--<ion-label>{{'Pay event' | translate}}</ion-label>-->
                            <!--<ion-radio value="false" tappable (click)="priceSet(false)"></ion-radio>-->
                            <ion-label>{{'Set Price' | translate}}</ion-label>
                            <ion-radio value="false"  tappable (click)="addPrice();priceSet(false)"></ion-radio>
                           
                        </ion-item>

                    </ion-col>
                </ion-row>
            </ion-grid>
        
            <ion-card [hidden]="form.priceType" style="padding-bottom:10px!important;" >
                <div *ngFor="let att of priceArray; let idx = index">
                    <ion-item-divider><ion-icon name="ios-cash-outline"></ion-icon> Price ({{idx+1}}) </ion-item-divider>
                    <ion-item *ngIf="priceArray[idx]">
                        <ion-label class="left">{{priceArray[idx].label | translate}}</ion-label>
                        <ion-label class="right" color="primary">{{priceArray[idx].Price  | currency:getCode(form.code):true:'1.2-2'}}</ion-label>
                       
                    </ion-item>
                </div>
                    <!--<ion-item>
            <ion-label floating>{{'Price Currency' | translate}}</ion-label>
            <ion-select popover [(ngModel)]="form.currencyId" [disabled]="form.priceType" name="currencyId" text-wrap (ngModelChange)="onCurrencyChange()" [required]="true">
                <ion-option *ngFor="let currency of countryCurrency" [value]="currency.id">{{currency.currency| translate}} ({{ currency.symbol }})</ion-option>

            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'Standard price (0.00) ' | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="form.price" [disabled]="form.priceType" step="0.01"
                       name="price" [required]="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'Vip price (0.00) (optional) ' | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="form.vip" [disabled]="form.priceType" step="0.01"
                       name="vip"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{'Executive price (0.00)(optional)' | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="form.executive" [disabled]="form.priceType" step="0.01"
                       name="executive"></ion-input>
        </ion-item>-->
</ion-card>





</form>
</ion-content>
<!--<ion-footer>
    <ion-toolbar>
        <ion-title><b>{{'Amount to pay:' | translate}} {{form.chargedispalyfee}}</b></ion-title>
    </ion-toolbar>
</ion-footer>-->
