image-capture {
  div {
    display        : flex;
    position       : relative;
    align-items    : center;
    flex-direction : row;
    flex           : 1;
    padding-bottom : 25px;

    ion-avatar {
      width: 100px;
      display: block;
      position: relative;
      margin: 20px auto;
      z-index: -1;

      img {
        $img-size : 100px;
        display       : block;
        margin        : 0 auto;
        height        : $img-size;
        width         : $img-size;
        max-height    : $img-size;
        max-width     : $img-size;
        border-radius : 50%;
      }

      p {
        text-align  : center;
        line-height : 3em;
        color       : #000;
        padding     : 0;
        margin      : 0;
      }
    }

    .button {
      $button-size : 35px;
      border-radius : 50% !important;
      position      : absolute;
      margin        : 0 auto;
      display       : block;
      top           : 20px;
      left          : 55%;
      border        : 2px solid #FFF;
      width         : $button-size;
      height        : $button-size;
    }
  }
}
