page-auth-register {
  .terms {
    display         : block;
    color           : #FFF;
    font-size       : 1.2em;
    margin          : 10px;
    text-decoration : underline;
    text-align      : center;
  }

   /*ion-content {
        background: #ff6a00 !important;

     
        ion-input {
           
            box-sizing: padding-box;
            width: 100%;
            display: block;
            border-radius: 5px;
            border: 1px solid #fff;
        }

        ion-select {
        
            box-sizing: padding-box;
            width: 100%;
          
            border-radius: 5px;
            border: 1px solid #fff;
            text-align: center !important;
        }

        ion-datetime {
         
            box-sizing: padding-box;
            width: 100%;
            display: block;
            border-radius: 5px;
            border: 01px solid #fff;
            text-align: center !important;
        }
    }*/


}
