<ion-header>
    <ion-navbar color="none">
        <ion-buttons start>
            <button ion-button icon-only tappable (click)="onPagecamera($event)">
                <ion-icon name="add"></ion-icon>
            </button>

        </ion-buttons>
        <ion-searchbar [(ngModel)]="search"
                       (ionInput)="doSearch()"
                       (ionCancel)="onReload()"
                       [debounce]="1000"
                       placeholder="{{'Search'| translate }}"></ion-searchbar>
        <ion-buttons end>
            <!--<button ion-button icon-only >
                <ion-icon name="md-more"></ion-icon>
            </button>-->
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="type" color="primary">
            <ion-segment-button (ionSelect)="onSelectType('photo')" value="photo">
                <ion-icon name="images"></ion-icon>
                {{'Photos' | translate}}
            </ion-segment-button>
            <ion-segment-button (ionSelect)="onSelectType('user')" value="user">
                <ion-icon name="people"></ion-icon>
                {{'Users' | translate}}
            </ion-segment-button>
            <ion-segment-button (ionSelect)="onSelectType('map')" value="map">
                <ion-icon name="map"></ion-icon>
                {{'Map' | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)"
                   [enabled]="!isIOS"
                   *ngIf="type!=='map'">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <photo-grid [event]="eventName" *ngIf="type=='photo'"></photo-grid>
    <user-list [event]="eventName" *ngIf="type=='user'"></user-list>
    <map-gallery *ngIf="type=='map'"></map-gallery>


    <ion-infinite-scroll  *ngIf="type!=='map'" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
