credit-card {
  
    input{
         width: 100%;
        /*font-size: 14px;*/
        margin: 0px auto;
        display: block;
        /*border-radius: 10px;*/
        border: 0px solid #556677;
    }


}
